@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


:root{
    --global-text : rgba(33,33,33,0.8);
    --avenir-green : #53c872;
    --background : #fdfeff;
    --websafe-white : #fefefe;
}
*{
    font-family : 'Montserrat', sans-serif;
}
body{
    color : var(--global-text);
    margin : 0;
    background: var(--background);
    font-size : 12px;
    
}

/* Utilities CLASSES */
.text-green{
    color : var(--avenir-green);
}
.text-center{
    text-align: center;
}
.text-semi-bold{
    font-weight: 500;
}
.text-bold{
    font-weight: 600;
}
.btn{
    height : 50px;
    text-transform: uppercase;
    border-radius: 5px;
    border : 0;
    width : 124px;
}
.btn-green{
    background: var(--avenir-green);
    color : var(--websafe-white);
}
.btn-green:hover{
    background: var(--websafe-white);
    color : var(--avenir-green);
    border : 1px solid var(--avenir-green);
}
.text-underlined{
    text-decoration: underline;
}
.no-margin-top{
    margin-top : 0 !important;
}
/* Utilities CLASSES */

.avenir-logo{
    margin : 20px 0px 20px 0px;
}
.content-login{
    display : grid;
    grid-template-areas:
        'container-1 container-2';
    grid-template-columns : repeat(2, 1fr);
    grid-template-rows : repeat(1, auto);
    margin-top:2em;
}
.content-login .grid-element-1{
    grid-area : container-1;
}
.content-login .grid-element-2{
    grid-area : container-2;
    
}
.illustration-container{
    transition: 2s;
}
.illustration-container, .form-container{
    padding : 3em;
}
/* .illustration-container img{
    min-width: 50%;
} */
.Bienvenue-dans-votre-espace-client{
    font-size : 3.125rem;
    font-weight : 600;
    margin-bottom : 1rem;
}
.propose-par-avenir-green{
    font-weight : 500;
    font-size : 1rem;
}
.login-forms{
    margin-top : 3rem;
}
.login-forms input{
    width : 96%;
    margin-top:18px;
    height : 37px;
    border : 1px solid #9faab4;
    color : #9faab4;
    background: var(--background);
    text-transform: uppercase;
    padding-left : 4%;
    border-radius : 5px;
}
.form-container{
    padding-right:26.71%;
}
.btn-connect{
    margin-top : 3em;
    margin-bottom : 1.2em;
    font-weight: 600;
}
.password-state{
    margin-top : 18px;
    position : relative;
}
.password-state img{
    position : absolute;
    right : 8px;
    bottom: 50%;
    transform: translateY(50%);
}
.password-state img:hover{
    width : 25px;
}


/* FOOTER */

footer{
    text-align : center;
    padding : 15px;
    margin-top : 4.8rem;
}

/* FOOTER */


/* responsive */
@media (max-width : 767px){
    .content-login{
        grid-template-areas:
            'container-1'
            'container-2';
        grid-template-columns : repeat(1, 1fr);
        grid-template-rows : repeat(2, auto);
        margin-top:2em;
    }
    .illustration-container{
        /* text-align: center; */
        /* padding : 0; */
        display: none;
    }
    /* .illustration-container img{
        max-height: 100px;
        width : auto;
    } */
    .form-container{
        padding : 1.5em;
    }
    .Bienvenue-dans-votre-espace-client{
        font-size : 30px;
        margin-top : 0;
    }
    footer{
        margin-top : 0;
    }
    .login-forms{
        margin-top : 1rem;
    }
    .btn-connect{
        transition: 1s;
         margin-top : 2em;
         margin-bottom : 1em;
    }
}
@media (min-width : 768px) and (max-width : 1023px){
    .Bienvenue-dans-votre-espace-client{
        font-size : 30px;
        margin-top : 0;
    }
    .form-container, .illustration-container{
        padding : 1.5em;
    }
}
/* responsive */